* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  padding: 0px;
  margin: 0px;
}

.container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 45px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  background-color: #E2E2E2;
  padding: 0px 30px;
}

.container .header .board-nav .board-tab {
  background-color: #E2E2E2;
  width: auto;
  height: 30px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  font-size: 17px;
  font-family: Segoe UI;
  color: #707070;
  border: 0px;
  margin-top: 20px;
}

.container .header .board-nav .selected-tab {
  background-color: #ffffff;
}

.container .header .new-items .add-board, .container .header .new-items .delete-board {
  background-color: #000000;
  font-size: 12px;
  font-family: Segoe UI;
  color: #FFFFFF;
  border-radius: 30px;
  margin-top: 15px;
  padding: 5px 15px;
}

.container .header .new-items .add-note {
  border-radius: 25px;
  width: 25px;
  height: 25px;
  border: 0px;
  background: #F65151;
  font-size: 15px;
  font-family: -Segoe UI;
  color: #FFFFFF;
}

.container .section {
  margin: 20px;
}

.container .section .pop-up {
  background: white;
  position: fixed;
  width: 40%;
  height: 300px;
  margin-left: 30%;
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 42px;
  border: 1px solid #E2E2E2;
}

.container .section .pop-up .close-pop {
  background: #FEAEAE;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.container .section .pop-up .close-pop p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .section .notes-area .note {
  resize: both;
  overflow: auto;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 250px;
  height: 210px;
  font-size: 17px;
  font-family: Segoe UI;
  color: #707070;
}

.container .section .notes-area .note .move-bar {
  border-radius: 5px;
  background: black;
  width: 100%;
  height: 20px;
}

.container .section .notes-area .note .note-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  padding: 20px;
}

.container .section .notes-area .note .close {
  display: none;
}

.container .section .notes-area .note.white {
  background: #EFEFEF;
}

.container .section .notes-area .note.red {
  background: #FEAEAE;
}

.container .section .notes-area .note.green {
  background: #CDFCB6;
}

.container .section .notes-area .note.blue {
  background: #B6D7FC;
}

.container .section .notes-area .note:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #000000;
  padding: 10px;
}

.container .section .notes-area .note:hover .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-direction: flex-end;
      flex-direction: flex-end;
  margin-top: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .section .notes-area .note:hover .controls .colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px;
}

.container .section .notes-area .note:hover .controls .colors .white {
  background: #EFEFEF;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  border: 1px solid #707070;
  margin-left: 7px;
}

.container .section .notes-area .note:hover .controls .colors .red {
  background: #FEAEAE;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  border: 1px solid #707070;
  padding: 10px;
  margin-left: 7px;
}

.container .section .notes-area .note:hover .controls .colors .green {
  background: #CDFCB6;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  border: 1px solid #707070;
  margin-left: 7px;
}

.container .section .notes-area .note:hover .controls .colors .blue {
  background: #B6D7FC;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  border: 1px solid #707070;
  margin-left: 7px;
}

.container .section .notes-area .note:hover .controls .close {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background: #FF0000;
  font-size: 17px;
  font-family: Segoe UI;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2px;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */