$main-color: #E2E2E2;
$border-color: #000000;
$font-color: #707070;
$note-color-primary: #EFEFEF;
$note-color-red: #FEAEAE;
$note-color-green: #CDFCB6;
$note-color-blue: #B6D7FC;
$main-font: Segoe UI;

@mixin display-flex($display, $flex-direction) {
	display: $display;
	flex-direction: $flex-direction;
}

@mixin text-style($font-size, $font-family, $color) {
	font-size: $font-size;
	font-family: $font-family;
	color: $color;
}

@mixin width-height($width, $height) {
	width: $width;
	height: $height;
}

* {
    box-sizing: border-box;
}

html, body {
    padding: 0px;
    margin: 0px;
}

.container {
    @include width-height(100%, 100%);
    @include display-flex(flex, column);

    .header {
        @include display-flex(flex, row);
        @include width-height(100%, 45px);
        justify-content: space-between;
        overflow: hidden;
        background-color: $main-color;
        padding: 0px 30px;

        .board-nav {

            .board-tab {
                background-color: $main-color;
                @include width-height(auto, 30px);
                border-top-left-radius: 11px;
                border-top-right-radius: 11px;
                @include text-style(17px, $main-font, $font-color);
                border: 0px;
                margin-top: 20px;
            }
            .selected-tab {
                background-color: #ffffff;
            }
        }

        .new-items {
            .add-board, .delete-board{
                background-color: $border-color;
                @include text-style(12px, $main-font, #FFFFFF);
                border-radius: 30px;
                margin-top: 15px;
                padding: 5px 15px;
            }

            .add-note{
                border-radius: 25px;
                @include width-height(25px, 25px);
                border: 0px;
                background: #F65151;
                @include text-style(15px, -$main-font, #FFFFFF);
            }

        }
    }

    .section {
        margin: 20px;
        .pop-up {
            background: white;
            position: fixed;
            width: 40%;
            height: 300px;
            margin-left: 30%;
            margin-top: 10%;
            display: flex;
            border-radius: 42px;
            border: 1px solid $main-color;
            
            .close-pop {
                background: $note-color-red;
                border-radius: 50%;
                width: 40px;
                height: 40px;

                p {
                    display: flex;
                    justify-content: center;
                }
            }
         
        }
        .notes-area {
            .note {
                resize: both;
                overflow: auto;
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-content: center;
                @include width-height(250px, 210px);
                @include text-style(17px, $main-font, $font-color);

                .move-bar {
                    border-radius: 5px;
                    background: black;
                    width: 100%;
                    height: 20px;
                }

                .note-text {
                    @include display-flex(flex, center);
                    padding: 20px;
                }

                .close {
                    display: none;
                }
                &.white {
                    background: $note-color-primary;
                }
                &.red {
                    background: $note-color-red;
                }
                &.green {
                    background: $note-color-green;
                }
                &.blue {
                    background: $note-color-blue;
                }
                &:hover {
                   
                    @include display-flex(flex, column);
                    border:1px solid $border-color;
                    padding: 10px;

                    .controls{
                        @include display-flex(flex, row);
                        justify-content: space-between;
                        flex-direction: flex-end;
                        margin-top: 70px;
                        align-items: center;

                        .colors {
                            @include display-flex(flex, row);
                            padding: 10px;

                            .white {
                                background: $note-color-primary;
                                @include width-height(25px,25px);
                                border-radius: 25px;
                                border: 1px solid $font-color;
                                margin-left: 7px;                                
                            }

                            .red {
                                background: #FEAEAE;
                                @include width-height(25px,25px);
                                border-radius: 25px;
                                border: 1px solid $font-color;
                                padding: 10px;
                                margin-left: 7px;
                            }

                            .green {
                                background: #CDFCB6;
                                @include width-height(25px,25px);
                                border-radius: 25px;
                                border: 1px solid $font-color;
                                margin-left: 7px;
                            }

                            .blue {
                                background: #B6D7FC;
                                @include width-height(25px,25px);
                                border-radius: 25px;
                                border: 1px solid $font-color;
                                margin-left: 7px;
                            }

                        }

                        .close {
                            @include width-height(25px, 25px);
                            border-radius: 25px;
                            background: #FF0000;
                            @include text-style(17px, $main-font, #FFFFFF);
                            display: flex;
                            justify-content: center;
                            padding-top: 2px;
                            cursor: pointer;
                        }
                    }
                
                }
            }
        }
    }
    
}